<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Star Wars</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

    <ion-item>
        <ion-label>Select Searchtype</ion-label>
        <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
          <ion-select-option value="people">Personajes</ion-select-option>
          <ion-select-option value="planets">Planetas</ion-select-option>
          <ion-select-option value="films">Peliculas</ion-select-option>
        </ion-select>
      </ion-item>

  <ion-list>
    <ion-item button detail lines="inset" *ngFor="let film of (films | async)?.results" [routerLink]="['/', 'movies', film.url]">
      {{ film.title }}
      {{ film.name}}
    </ion-item>
  </ion-list>
</ion-content>